<div class="col-xs-12 col-md-4">
  <img class="album-cover" src={{tape.image}} alt={{tape.title}}>
  <h4>{{tape.title}}<br><span>{{tape.date}}</span></h4>
  <button class="btn"><a data-toggle="modal" data-target="#cartModal">BUY NOW</a></button>
  <p>{{tape.synopsis}}</p>
</div>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img class="section-header" src="/assets/images/checkout.png" alt="Cart">
      </div>
      <div class="modal-body">
        {{!-- cart contents go here --}}
      </div>
    </div>
  </div>
</div>
